
h1 {
  text-align: center;
  padding: 20px;
}

.board {
  display: grid;
  border: 4px solid #999;
  /* margin-top: 20px; */
  margin-right: 7
  00px;
  justify-content: center;
  background-color: blue;
}

.row {
  display: flex;
}

.square {
  width: 560px;
  height: 50px;
  border: 1px solid #ccc;
  background-color:  green;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.square:hover {
  background-color: #ddd;
}

.square.flag {
  color: rgb(225, 255, 0);
}

.square.bomb {
  color: black;
  background-color: red;
}

.square.number {
  color: blue;
}
