.container {
    width:600px;
    height:600px;
    border:10px solid green;
    background-color: blue;
   }
   .row{
    height: 100px;
    width:  600px;
    border: 1px solid white;
   }
   .col-sm{
    max-width: 10px;
    border: 1px solid gray;
    display: flex;
    justify-content:space-between;
   }